*{
    margin: 0;
    font-size: 13px;
}
body{
    background-color: #539165;
}
.login{

    background-color: white;
    width: 340px;
    height: 530px;
    margin: auto;
    padding: 30px;
}

.login input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
}

textarea {
    resize: none;
    width: 100%;
 }



/* .login .messageInput{
    height: 120px; 
} */

/* ::-webkit-input-placeholder {
    vertical-align:text-top;
 } */

.login .title{
    font-size: 30px !important;
    margin: 0 0 15px 0;
}

.login .title2{
   
    margin: 0 0 10px 0;
}
.login button{
    width: 100%;
    height: 40px;
    color: white;
    background-color: #539165;
    border: 0;
    font-size: 14px;
    margin-top: 10px;
}
.loginFooter{
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.loginFooter a{
    margin-left: 5px;
}